html {
    background-color:black;
    color:#c5c4c4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bestRatedMovieContainer {
    background-color: #f0ffff30;
    padding: 1rem;
    margin: 1rem 5%;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.btn:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}


.container {
    text-align: center;
}

h3 {
    text-align: center;
}

.row { 
    display: flex; 
    align-items: center; 
} 

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"] {
    float: left;
    padding: 15px;
}

.nav-arrow {
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
}

#gallery1 img.hidden {
    display:none;
}

.slider {
    display: flex;
    overflow-x:hidden;
    position: relative;
    margin: 0px;
    padding: 0px 4%;
    touch-action: pan-y;
    padding-left: 0px;
    padding-right: 0px;
}

/* ************* vdo container *********** */
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f8f7f7f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }

/* ********** prev & next buttons ********* */
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
/* *********** Modal ********* */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.60); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
background-color: #464646f3;
color:white;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 0 solid #888;
border-radius: 0.3em;
width: 50%; /* Could be more or less, depending on screen size */
}

.modal-content p {
    margin: 5px;
    font-size: 14px;
}

/* The Close Button */
.close {
color: rgb(252, 252, 252);
float: right;
font-size: 20px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
text-decoration: none;
cursor: pointer;
}

#logo {
    width: 30%;
}

a {
    margin: 20px;
}
