html {
    background-color:black;
    color:#c5c4c4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bestRatedMovieContainer {
    background-color: #f0ffff6e;
    padding: 1rem;
    margin: 1rem 5%;
}

.sevenBestRatedMoviesContainer,
.sevenBestRatedActionMoviesContainer,
.sevenBestRatedAdventureMoviesContainer,
.sevenBestRatedAnimationMoviesContainer,
.sevenBestRatedSciFiMoviesContainer {
    background-color: #f0ffff1c;
    padding: 1rem;
    margin: 1rem 5%;
}

/*
.btn {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.btn:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
*/

#img0,
#img1,
#img2,
#img3,
#img4,
#img5,
#img6 {
    cursor:pointer;
}

.container {
    text-align: center;
}

h3 {
    text-align: center;
}

.row { 
    display: flex; 
    align-items: center; 
} 

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"] {
    float: left;
    padding: 15px;
}

.nav-arrow {
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
}

#gallery1 img.hidden {
    display:none;
}

.slider {
    display: flex;
    overflow-x:hidden;
    position: relative;
    margin: 0px;
    padding: 0px 4%;
    touch-action: pan-y;
    padding-left: 0px;
    padding-right: 0px;
}

/* ************* vdo container *********** */
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f8f7f7f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }

/* ********** prev & next buttons ********* */
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
/* *********** Modal ********* */
/* The Modal (background) */
.modal,
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.60); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content,
.modal2-content {
background-color: #464646f3;
color:white;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 0 solid #888;
border-radius: 0.3em;
width: 50%; /* Could be more or less, depending on screen size */
}

.modal-content p,
.modal2-content p {
    margin: 5px;
    font-size: 14px;
}

/* The Close Button */
.close,
.sevenBestRatedMoviesClose {
color: rgb(252, 252, 252);
float: right;
font-size: 20px;
font-weight: bold;
}

.close:hover,
.sevenBestRatedMoviesClose:hover,
.close:focus,
.sevenBestRatedMoviesClose:focus {
color: red;
text-decoration: none;
cursor: pointer;
}

/* *** */




div.header.container {
    margin-bottom: 4em;
}

img#logo {
    /* width: 50%; */
    float: left;
    padding-left: 40px;
}

a {
    margin: 20px;
}

h2#bestRatedMovieHeader,
h2#sevenBestRatedMoviesHeader,
h2#sevenBestRatedActionMoviesHeader,
h2#sevenBestRatedAdventureMoviesHeader,
h2#sevenBestRatedAnimationMoviesHeader,
h2#sevenBestRatedSciFiMoviesHeader {
    margin: 4em 5% 1rem;
}

#bestRatedMovieShortDesc1 p {
    font-size: 25px;
    margin-bottom: 0px;
    padding-right: 20px;
}

h1#bestRatedMovieTitle1 {
    font-size: 5em;
    margin-bottom: 15px;
    margin-top: 0;
    color: white;
}

p#bestRatedMovieShortDesc1 {
    font-size: 25px;
    padding-right: 15px;
    margin-bottom: 0;
}

/* Best Movie Button Effect */

.glow-on-hover {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #5f0101;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 25px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: #0000005e;*/
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}