# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dossier
_test_scripts
.DS_Store
OCMovies-API-EN-FR/
OCMovies-API-EN-FR
 

# Fichiers
_index.html
img/blacklist.jpg
img/bleach.jpg
img/boruto.jpg
img/brooklyn99.jpg
img/friends.jpg
img/larva.jpg
img/mr.robot.jpg
img/ready.player.one.jpg
img/titans.jpg
img/vikings.jpg
js/categories.js
js/movies.js
